{
    "irc": {
        "server": "irc.twitch.tv",
        "port": 6667,
        "channel": "username",
        "username": "username",
        "password": "oauth: (http://twitchapps.com/tmi/)",
        "retry_count": 5,
        "timeout": 10,
        "recv_amount": 1024,
        "multi_press": false
    },
    "buttons": {
        "A": "A",
        "B": "B",

        "UP": "Up",
        "DOWN": "Down",
        "LEFT": "Left",
        "RIGHT": "Right",

        "START": "Enter",
        "SELECT": "Spacebar"
    },
    "misc": {
        "debug": false
    }
}
